<button mat-button [matMenuTriggerFor]="menu">Routing</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item><a [routerLink]="['/welcome']">Welcome</a></button>
  <button mat-menu-item><a [routerLink]="['/view1']">View 1</a></button>
  <button mat-menu-item><a [routerLink]="['/view2', { optional1: 'val1', optional2: 'val2' }]">View 2</a></button>
  <button mat-menu-item><a [routerLink]="['/view3', 0]">View 3</a></button>
  <button mat-menu-item><a [routerLink]="['/f1v1']">Feature 1 View 1</a></button>
</mat-menu>
<h1>Angular 6 Routing App!!</h1>
<button (click)="onClick()">Return to Welcome Page</button>
<router-outlet (activate)="onRouterOutletActivate()" (deactivate)="onRouterOutletDeactivate()"></router-outlet>

